body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #fff;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: medium;
}


a:link {
  text-decoration: none;
  color: #5D7C43;
}

a:visited {
  text-decoration: none;
  color: #5D7C43;
}

a:hover {
  text-decoration: none;
  color: #a6bb95;
}


/* estilização do botão de voltar ao topo */
#btnTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #98A78A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#btnTopo:hover {
  background-color: #98A78A;
}

/* estilização do header */
header {
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 850px;
  height: 70px;
  background-color: rgba(188, 203, 188, 0.226);
}

header ul li {
  display: inline;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #5D7C43;
  border-radius: 5px;
}

header img {
  width: 100px;
  height: 60px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 70px;
  margin: 5px;
  padding: 10px;
  text-align: center;
}

nav {
  align-self: center
}

/* estilização para montar o layout do contato lado a lado com o form */
.box {
  display: flex;
}

.one {
  flex: 1;
}

.two {
  flex: 2;
}

.labelForm {
  width: 25%;
  display: inline-block;
}

.inputForm {
  width: 70%;
}

.FormTextArea {
  display: block;
  width: 97%;
}

.icon {
  width: 16px;
  height: 16px;
}

fieldset {
  border: 0px;
}

/* estilização dos cards de produtos */
.card {
  width: 100%;
  font-size: 12px;
  text-align: justify;
  margin: 5px;
  box-shadow: 1px 1px 10px 1px #888888;
}

.card img {
  width: 100%;
  height: 125px;
}

.titleCard {
  height: 15px;
  width: 95%;
  margin: 0px 5px 0px 5px;
  text-align: left;
}

.descCard {
  height: 65px;
  width: 95%;
  margin: 0px 5px 0px 5px;
}

.priceCard {
  height: 15px;
  margin: 0px 5px 0px 5px;
}

.buttomCard {
  height: 15px;
  margin: 5px;
}

/* estilização das sections */
#home img {
  width: 100%;
  max-height: 400px;
}

.sessões {
  background-color: rgba(188, 203, 188, 0.226);
  width: 850px;
  height: 500px;
  margin: auto;
}

#produtos {
  background-color: #fff;
  height: auto;
}

#contato {
  background-color: #fff;
}

#contato form {
  background-color: rgba(188, 203, 188, 0.226);
}

.divBody {
  align-self: center
}

/* estilização do footer */
footer {
  background-color: rgba(188, 203, 188, 0.226);
  margin: auto;
  width: 850px;
  height: 120px;
}

.midiaSocial img {
  width: 25px;
}

.midiaSocial ul li {
  display: inline;
  font-size: 20px;
  padding: 15px;
}

.copy {
  text-align: center;
}


/* ajustando layout de produtos */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: justify;
  padding: 20px 0;
  font-size: 12px;
}