<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../js/main.js"></script>
<link rel="stylesheet" type="text/css" href="../css/style.css">

</head>
<body>

<button onclick="topFunction()" id="myBtn" title="Voltar ao Topo">Top</button>

<section id="cabeçalho" class="cabeçalho">
    <div id="menu">
        <ul id="links" >
            <li><a href="index.html">Home</a></li>
            <li><a href="#sobre">Sobre Nós</a></li>
            <li><a href="#produtos">Produtos</a></li>
            <li><a href="#contato">Fale conosco</a></li>
        </ul>
    </div>
</section>

<section id="home" class="sessões">
    <div class="divDev">
        <h1>Seja bem vindo ao Viveiro Flora Senador</h1>
        <p>Aqui você encontra as melhoras plantas para decorar o seu jardim.</p>
    </div>
</section>

<section id="sobre" class="sessões">

</section>

<section id="produtos" class="sessões">


</section>

<section id="contato" class="sessões">
    

</section>



</body>
</html>