<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <button onclick="topFunction()" id="btnTopo" title="Voltar ao Topo">
        Top
    </button>

    <section id="cabeçalho" class="cabeçalho">
        <div id="menu">
            <ul id="links">
                <li><a href="index.html">Home</a></li>
                <li><a href="#sobre">Sobre Nós</a></li>
                <li><a href="#produtos">Produtos</a></li>
                <li><a href="#contato">Fale conosco</a></li>
            </ul>
        </div>
    </section>

    <section id="home" class="sessões">
        <div>
            <h1>Seja bem vindo ao Viveiro Flora Senador</h1>
            <p>Aqui você encontra as melhoras plantas para decorar o seu jardim.</p>
        </div>
    </section>

    <section id="sobre" class="sessões">
        <p>Sobre Nós</p>
    </section>

    <section id="produtos" class="sessões">
        <p>Nossos Produtos</p>
    </section>

    <section id="contato" class="sessões">
        <div class="box">
            <div class="one">
                <strong>NÃO SEJA TÍMIDO</strong>
                <p>
                    Fique a vontade para entrar em contato comigo. Estou sempre aberto
                    para discutir novos projetos, ideias criativas ou oportunidades.
                </p>
                <p>
                    Para orçamento de projetos entre em contato pelo Whatsapp:
                    <a href="https://wa.me/+5562984704070">
                        <img class="icon" src="../images/whatsapp.png" alt="ícone do whatsapp" />
                        (62) 98470-4070.
                    </a>
                </p>
                <p>
                    Sugestões, reclamações e demais assuntos envie um e-mail através do
                    formulário ao lado.
                </p>
            </div>
            <div class="one">
                <form id="formulario" name="form1" method="#">
                    <fieldset>
                        <legend>Contato</legend>
                        <label class="labelForm" for="nomeCompleto">Nome:</label>
                        <input class="inputForm" type="text" id="nomeCompleto" name="nomeCompleto" /><br />
                        <label class="labelForm" for="telefone">Telefone:</label>
                        <input class="inputForm" type="tel" id="telefone" name="telefone" /><br />
                        <label class="labelForm" for="email">E-mail: </label>
                        <input class="inputForm" type="email" id="enail" name="email" /><br />
                        <label class="labelForm" for="mensagem">Mensagem:</label>
                        <textarea class="FormTextArea" id="mensagem" name="mensagem" cols="30" rows="5"></textarea>
                        <input type="submit" id="btnEnviar" name="btnEnviar" value="Enviar!" />
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <script src="../js/main.js"></script>
</body>

</html>